<table id="log-table" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time UTC</th>
      <th scope="col">Freq</th>
      <th scope="col">Mode</th>
      <th scope="col">Callsign</th>
      <th scope="col">Category</th>
      <th scope="col">Section</th>
    </tr>
  </thead>
  <tbody>
  <%- @event.log_entries.each do |log| %>
  <%- next unless log.persisted? %>
    <tr> 
      <td><%= log.id %></td>
      <td><%= I18n.l(log.contact_at || log.created_at, format: :short) %></td>
      <td><%= log.frequency %></td>
      <td><%= log.mode %></td>
      <td><%= log.callsign %></td>
      <td><%= log.category %></td>
      <td><%= log.section %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div id="scroll-anchor"></div>
