<div class="container-xl">
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Events</h2>
    </div>
    <div class="col text-right">
      <%= link_to "Start Log for an Event", new_event_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% @events.each do |event| %>
        <%= event.event_name %>
        <%= link_to "View Log", event_path(event), class: "btn btn-outline-primary" %>
        <%= link_to "Stats", stats_event_path(event), class: "btn btn-outline-primary" %>
        <%= link_to "Edit", edit_event_path(event), class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>
