<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TXXLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">TXXLog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Stations", stations_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Events", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logs</a>
          </li>
        </ul>
        <div class="mt-2 mt-md-0">
          <a href="#" class="btn btn-outline-success my-2 my-sm-0">Switch Users</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
